<launch>
  <!-- Arguments -->
  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="use_robot_name" default="robot1"/>
  <arg name="set_map_frame"  default="map"/>
  <arg name="configuration_basename" default="$(arg use_robot_name)_lds_2d.lua"/>

  <!-- cartographer_node -->
  <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node"
        args="-configuration_directory $(find slam_lidar)/config
              -configuration_basename $(arg configuration_basename)"
        output="screen">
  </node>
  
  <!-- cartographer_occupancy_grid_node -->
  <node pkg="cartographer_ros" type="cartographer_occupancy_grid_node"
        name="cartographer_occupancy_grid_node"
        args="-resolution 0.01" >
  </node>



</launch>
