<launch>
  <!-- Arguments -->
  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="open_rviz" default="true"/>
  <arg name="use_robot_name1" default="robot1"/>
  <arg name="use_robot_name2" default="robot2"/>

  <arg name="first_tb3_x_pos" default=" 0.0"/>
  <arg name="first_tb3_y_pos" default=" 0.0"/>
  <arg name="first_tb3_z_pos" default=" 0.0"/>
  <arg name="first_tb3_yaw"   default=" 0.0"/>

  <arg name="second_tb3_x_pos" default=" 0.0"/>
  <arg name="second_tb3_y_pos" default=" -40.0"/>
  <arg name="second_tb3_z_pos" default=" 0.0"/>
  <arg name="second_tb3_yaw"   default=" 0.0"/>

  <group ns="$(arg use_robot_name1)/map_merge">
    <param name="init_pose_x"   value="$(arg first_tb3_x_pos)"/>
    <param name="init_pose_y"   value="$(arg first_tb3_y_pos)"/>
    <param name="init_pose_z"   value="$(arg first_tb3_z_pos)"/>
    <param name="init_pose_yaw" value="$(arg first_tb3_yaw)"  />
  </group>

  <group ns="$(arg use_robot_name2)/map_merge">
    <param name="init_pose_x"   value="$(arg second_tb3_x_pos)"/>
    <param name="init_pose_y"   value="$(arg second_tb3_y_pos)"/>
    <param name="init_pose_z"   value="$(arg second_tb3_z_pos)"/>
    <param name="init_pose_yaw" value="$(arg second_tb3_yaw)"  />
  </group>

  <group ns="$(arg use_robot_name1)">
    <param name="tf_prefix" value="robot1" />
    <include file="$(find slam_lidar)/launch/hector.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="use_robot_name" value="$(arg use_robot_name1)"/>
    </include>
  </group>

  <group ns="$(arg use_robot_name2)">
    <param name="tf_prefix" value="robot1" />
    <include file="$(find slam_lidar)/launch/hector.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="use_robot_name" value="$(arg use_robot_name2)"/>
    </include>
  </group>

  <node pkg="multirobot_map_merge" type="map_merge" respawn="false" name="map_merge" output="screen">
    <param name="robot_map_topic" value="map"/>
    <param name="robot_namespace" value="robot"/>
    <param name="merged_map_topic" value="map"/>
    <param name="world_frame" value="map"/>
    <param name="known_init_poses" value="true"/>
    <param name="merging_rate" value="0.5"/>
    <param name="discovery_rate" value="0.5"/>
    <param name="estimation_rate" value="0.1"/>
    <param name="estimation_confidence" value="1.0"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg use_robot_name1)_tf_broadcaster" args="4.8 4.8 0 0 0 0 /map /$(arg use_robot_name1)/map 1000"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg use_robot_name2)_tf_broadcaster" args="4.8 6.8 0 0 0 0 /map /$(arg use_robot_name2)/map 1000"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find slam_lidar)/rviz/map_merge_hector.rviz"/>
  </group>


</launch>
