<launch>
  <!-- Arguments -->
  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find slam_lidar)/maps/room2_10mm.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="use_robot_name1" default="robot1"/>
  <arg name="use_robot_name2" default="robot2"/>
  <arg name="grab" default="false"/>

  <group ns="$(arg use_robot_name1)">
    <param name="tf_prefix" value="$(arg use_robot_name1)" />

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
      <param name="frame_id" value="$(arg use_robot_name1)/map" />
    </node>
    <!-- AMCL -->
    <include file="$(find slam_lidar)/launch/amcl.launch">
      <arg name="use_robot_name" value="$(arg use_robot_name1)"/>
    </include>

    <!-- move_base -->
    <include file="$(find slam_lidar)/launch/move_base.launch">
      <arg name="model" value="$(arg model)" />
      <arg name="move_forward_only" value="$(arg move_forward_only)"/>
      <arg name="grab" value="$(arg grab)"/>
    </include>

    <!-- rviz -->
    <group if="$(arg open_rviz)">
      <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find slam_lidar)/rviz/omtb_navigation_2tb_room2_$(arg use_robot_name1).rviz">
        <remap from="/initialpose" to="/$(arg use_robot_name1)/initialpose"/>
        <remap from="/move_base_simple/goal" to="/$(arg use_robot_name1)/move_base_simple/goal"/>
      </node>
    </group>
  </group>


  <group ns="$(arg use_robot_name2)">
    <param name="tf_prefix" value="$(arg use_robot_name2)" />

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
      <param name="frame_id" value="$(arg use_robot_name2)/map" />
    </node>
    <!-- AMCL -->
    <include file="$(find slam_lidar)/launch/amcl.launch">
      <arg name="use_robot_name" value="$(arg use_robot_name2)"/>
      <arg name="initial_pose_y" value="2.0"/>
    </include>

    <!-- move_base -->
    <include file="$(find slam_lidar)/launch/move_base.launch">
      <arg name="model" value="$(arg model)" />
      <arg name="move_forward_only" value="$(arg move_forward_only)"/>
      <arg name="grab" value="$(arg grab)"/>
    </include>

    <!-- rviz -->
    <group if="$(arg open_rviz)">
      <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find slam_lidar)/rviz/omtb_navigation_2tb_room2_$(arg use_robot_name2).rviz">
        <remap from="/initialpose" to="/$(arg use_robot_name2)/initialpose"/>
        <remap from="/move_base_simple/goal" to="/$(arg use_robot_name2)/move_base_simple/goal"/>
      </node>
    </group>
  </group>


</launch>
