<launch>
  <!-- Arguments -->
  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="slam_methods" default="hector" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration, cartographer_vlp16]"/>
  <arg name="configuration_basename" default="omtb_lds_2d.lua"/>
  <arg name="open_rviz" default="true"/>
  <arg name="use_robot_name1" default="robot1"/>

  <group ns="$(arg use_robot_name1)">
    <param name="tf_prefix" value="robot1" />
    <include file="$(find slam_lidar)/launch/$(arg slam_methods).launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="use_robot_name" value="$(arg use_robot_name1)"/>
    </include>
  </group>


  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find slam_lidar)/rviz/omtb_$(arg slam_methods).rviz"/>
  </group>

</launch>
